
@{
    ViewBag.Title = "Home";
}

    @Html.Partial("_PartialView_Banner");
    <div class="product-section">
        <div class="container">
            <div class="row">
                <!-- Start Column 1 -->
                <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                    <h2 class="mb-4 section-title">
                        Được chế tác với chất liệu tuyệt vời.
                    </h2>
                    <p class="mb-4">
                        Để có được một không gian theo đúng các quy chuẩn thiết kế, thoả
                        mãn được nhu cầu thẩm mỹ của người sử dụng trong xu thế hiện nay,
                        chúng ta không thể không nói đến vật liệu nội thất – một phần vô
                        cùng quan trọng trong thiết kế nội thất.
                    </p>
                    <p><a href="shop.html" class="btn">Khám phá</a></p>
                </div>
                <!-- End Column 1 -->
                <!-- Start Column 2 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="cart.html">
                        <img src="~/images/product-1.png"
                             class="img-fluid product-thumbnail" />
                        <h3 class="product-title">Nordic Chair</h3>
                        <strong class="product-price">$50.00</strong>
                        <span class="icon-cross">
                            <img src="~/images/cross.svg" class="img-fluid" />
                        </span>
                    </a>
                </div>
                <!-- End Column 2 -->
                <!-- Start Column 3 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="cart.html">
                        <img src="~/images//product-2.png"
                             class="img-fluid product-thumbnail" />
                        <h3 class="product-title">Kruzo Aero Chair</h3>
                        <strong class="product-price">$78.00</strong>

                        <span class="icon-cross">
                            <img src="~/images/cross.svg" class="img-fluid" />
                        </span>
                    </a>
                </div>
                <!-- End Column 3 -->
                <!-- Start Column 4 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="cart.html">
                        <img src="~/images//product-3.png"
                             class="img-fluid product-thumbnail" />
                        <h3 class="product-title">Ergonomic Chair</h3>
                        <strong class="product-price">$43.00</strong>

                        <span class="icon-cross">
                            <img src="~/images/cross.svg" class="img-fluid" />
                        </span>
                    </a>
                </div>
                <!-- End Column 4 -->
            </div>
        </div>
    </div>
    <div class="why-choose-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <h2 class="section-title">Tại sao nên chọn chúng tôi?</h2>
                    <div class="row my-5">
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="~/images/truck.svg" alt="Image" class="imf-fluid" />
                                </div>
                                <h3>Giao hàng nhanh & miễn phí</h3>
                                <p>
                                    DK Furniture có các chi nhánh phủ sóng 63 tỉnh thành trên
                                    toàn quốc, đơn nội thành giao tốc hành chỉ trong 24h.
                                </p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="~/images/bag.svg" alt="Image" class="imf-fluid" />
                                </div>
                                <h3>Mua sắm dễ dàng</h3>
                                <p>
                                    Giao diện trực quan dễ dàng thao tác, thân thiện với mọi
                                    khách hàng.
                                </p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="~/images/support.svg"
                                         alt="Image"
                                         class="imf-fluid" />
                                </div>
                                <h3>Hỗ trợ 24/7</h3>
                                <p>
                                    Đội ngũ nhân viên nhiệt huyết, sẵn sàng tư vấn, giải đáp
                                    thắc mắc của khách hàng
                                </p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="~/images/return.svg"
                                         alt="Image"
                                         class="imf-fluid" />
                                </div>
                                <h3>Hoàn trả miễn phí</h3>
                                <p>Hàng trả miễn phí với sản phẩm lỗi từ nhà sản xuất</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="img-wrap">
                        <img src="~/images/why-choose-us-img.jpg"
                             alt="Image"
                             class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Why Choose Us Section -->
    <!-- Start We Help Section -->
    <div class="we-help-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="imgs-grid">
                        <div class="grid grid-1">
                            <img src="~/images/img-grid-1.jpg" alt="Untree.co" />
                        </div>
                        <div class="grid grid-2">
                            <img src="~/images/img-grid-2.jpg" alt="Untree.co" />
                        </div>
                        <div class="grid grid-3">
                            <img src="~/images/img-grid-3.jpg" alt="Untree.co" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 ps-lg-5">
                    <h2 class="section-title mb-4">
                        Chúng tôi giúp bạn thiết kế nội thất
                    </h2>
                    <p>
                        Với kinh nghiệm hơn 10 năm trong lĩnh vực thiết kế và hoàn thiện
                        nội thất cùng đội ngũ thiết kế chuyên nghiệp, Nhà Xinh mang đến
                        giải pháp toàn diện trong nội thất.
                    </p>

                    <ul class="list-unstyled custom-list my-4">
                        <li>
                            Đội ngũ kiến trúc sư có kinh nghiệm lâu năm với tư duy sáng tạo
                        </li>
                        <li>
                            Đội ngũ tư vấn giám sát năng lực cao và tinh thần làm việc nhiệt
                            huyết!
                        </li>
                        <li>
                            Xưởng sản xuất với cơ sở vật chất hiện đại cho sản phẩm tốt
                            nhất.
                        </li>
                        <li>
                            Đội ngũ công nhân đều có tay nghề cao, đã tham gia nhiều dự án.
                        </li>
                    </ul>
                    <p><a herf="#" class="btn">Khám phá</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End We Help Section -->
    <!-- Start Popular Product -->
    <div class="popular-product">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="product-item-sm d-flex">
                        <div class="thumbnail">
                            <img src="~/images/product-1.png" alt="Image" class="img-fluid" />
                        </div>
                        <div class="pt-3">
                            <h3>Nordic Chair</h3>
                            <p>
                                Một mẫu ghế gỗ cao cấp thiết kế theo phong cách nội thất Bắc
                                Âu. Vẽ đẹp từ chất liệu gỗ tự nhiên, những đường nét hoang giã
                                và sức hút mạnh mẽ từ mẫu ghế này làm cho nó luôn nỗi bật
                                trong mọi không gian.
                            </p>
                            <p><a href="#">Xem thêm</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="product-item-sm d-flex">
                        <div class="thumbnail">
                            <img src="~/images/product-2.png" alt="Image" class="img-fluid" />
                        </div>
                        <div class="pt-3">
                            <h3>Kruzo Aero Chair</h3>
                            <p>
                                Là một sản phẩm hiện đại và được sản xuất trên dây chuyền công
                                nghệ tiên tiến, ghế Aeron Chair có chất liệu đệm ghế tốt hơn
                                và đảm bảo hơn rất nhiều so với các loại ghế văn phòng khác.
                            </p>
                            <p><a href="#">Xem thêm</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="product-item-sm d-flex">
                        <div class="thumbnail">
                            <img src="~/images/product-3.png" alt="Image" class="img-fluid" />
                        </div>
                        <div class="pt-3">
                            <h3>Ghế công thái học</h3>
                            <p>
                                Ghế công thái học - hay còn gọi là Ergonomic chair, dựa trên
                                những nghiên cứu về mối quan hệ của con người với môi trường
                                làm việc tạo ra loại ghế mang đến sự hỗ trợ tốt nhất cho các
                                bộ phận ảnh hưởng trực tiếp khi ngồi như cột sống, thắt lưng,
                                cổ và vai của người ngồi.
                            </p>
                            <p><a href="#">Xem thêm</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Popular Product -->
    <!-- Start Testimonial Slider -->
    <div class="testimonial-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center">
                    <h2 class="section-title">Testimonials</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="testimonial-slider-wrap text-center">
                        <div id="testimonial-nav">
                            <span class="prev" data-controls="prev">
                                <span class="fa fa-chevron-left"></span>
                            </span>
                            <span class="next" data-controls="next">
                                <span class="fa fa-chevron-right"></span>
                            </span>
                        </div>

                        <div class="testimonial-slider">
                            <div class="item">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 mx-auto">
                                        <div class="testimonial-block text-center">
                                            <blockquote class="mb-5">
                                                <p>
                                                    &ldquo;Donec facilisis quam ut purus rutrum
                                                    lobortis. Donec vitae odio quis nisl dapibus
                                                    malesuada. Nullam ac aliquet velit. Aliquam
                                                    vulputate velit imperdiet dolor tempor tristique.
                                                    Pellentesque habitant morbi tristique senectus et
                                                    netus et malesuada fames ac turpis egestas. Integer
                                                    convallis volutpat dui quis scelerisque.&rdquo;
                                                </p>
                                            </blockquote>

                                            <div class="author-info">
                                                <div class="author-pic">
                                                    <img src="~/images/person-1.png"
                                                         alt="Maria Jones"
                                                         class="img-fluid" />
                                                </div>
                                                <h3 class="font-weight-bold">Maria Jones</h3>
                                                <span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END item -->

                            <div class="item">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 mx-auto">
                                        <div class="testimonial-block text-center">
                                            <blockquote class="mb-5">
                                                <p>
                                                    &ldquo;Donec facilisis quam ut purus rutrum
                                                    lobortis. Donec vitae odio quis nisl dapibus
                                                    malesuada. Nullam ac aliquet velit. Aliquam
                                                    vulputate velit imperdiet dolor tempor tristique.
                                                    Pellentesque habitant morbi tristique senectus et
                                                    netus et malesuada fames ac turpis egestas. Integer
                                                    convallis volutpat dui quis scelerisque.&rdquo;
                                                </p>
                                            </blockquote>

                                            <div class="author-info">
                                                <div class="author-pic">
                                                    <img src="~/images/person-1.png"
                                                         alt="Maria Jones"
                                                         class="img-fluid" />
                                                </div>
                                                <h3 class="font-weight-bold">Maria Jones</h3>
                                                <span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END item -->

                            <div class="item">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 mx-auto">
                                        <div class="testimonial-block text-center">
                                            <blockquote class="mb-5">
                                                <p>
                                                    &ldquo;Donec facilisis quam ut purus rutrum
                                                    lobortis. Donec vitae odio quis nisl dapibus
                                                    malesuada. Nullam ac aliquet velit. Aliquam
                                                    vulputate velit imperdiet dolor tempor tristique.
                                                    Pellentesque habitant morbi tristique senectus et
                                                    netus et malesuada fames ac turpis egestas. Integer
                                                    convallis volutpat dui quis scelerisque.&rdquo;
                                                </p>
                                            </blockquote>

                                            <div class="author-info">
                                                <div class="author-pic">
                                                    <img src="~/images/person-1.png"
                                                         alt="Maria Jones"
                                                         class="img-fluid" />
                                                </div>
                                                <h3 class="font-weight-bold">Maria Jones</h3>
                                                <span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonial Slider -->
    <!-- Start Blog Section -->
    <div class="blog-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6">
                    <h2 class="section-title">Recent Blog</h2>
                </div>
                <div class="col-md-6 text-start text-md-end">
                    <a href="#" class="more">View All Posts</a>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                    <div class="post-entry">
                        <a href="blog.html" class="post-thumbnail">
                            <img src="~/images/post-1.jpg" alt="Image" class="img-fluid" />
                        </a>
                        <div class="post-content-entry">
                            <h3><a href="#">First Time Home Owner Ideas</a></h3>
                            <div class="meta">
                                <span>by <a href="#">Kristin Watson</a></span>
                                <span>on <a href="#">Dec 19, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                    <div class="post-entry">
                        <a href="blog.html" class="post-thumbnail">
                            <img src="~/images/post-2.jpg" alt="Image" class="img-fluid" />
                        </a>
                        <div class="post-content-entry">
                            <h3><a href="#">How To Keep Your Furniture Clean</a></h3>
                            <div class="meta">
                                <span>by <a href="#">Robert Fox</a></span>
                                <span>on <a href="#">Dec 15, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                    <div class="post-entry">
                        <a href="blog.html" class="post-thumbnail">
                            <img src="~/images/post-3.jpg" alt="Image" class="img-fluid" />
                        </a>
                        <div class="post-content-entry">
                            <h3><a href="#">Small Space Furniture Apartment Ideas</a></h3>
                            <div class="meta">
                                <span>by <a href="#">Kristin Watson</a></span>
                                <span>on <a href="#">Dec 12, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog Section -->
